.hero{
    height: 100vh;
    background: linear-gradient(180deg, #ac71d1, #e1ffea22 60% );
    display: flex;
}

/* #ac71d1
 #fde1ff, */
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    list-style: 1.1;
}  
.hero-left h2{
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}

.hero-left p{
    color: #171717;
    font-size: 100px;
    font-weight: 700;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin: 30px;
    background: #7b1111;
    color: white;
    font-size: 22px;
    font-weight: 500;
    
}
.hero-latest-btn img{
    width: 50px;
}

.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}
.hero-right img{
    width: 50%;
}

@media(max-width:1280px){
    .hero-left{
        padding-left: 100px;
    }
    .hero-left h2{
        font-size: 22px;
    }
    .hero-left p{
        font-size: 60px;
    }
    .hero-latest-btn{
        gap: 10px;
        width: 250px;
        height: 60px;
        font-size: 18px;
        margin-top: 20px;
    }
    .hero-right img{
        width: 50%;
    }
}

@media(max-width:1024px){
    .hero-left{
        padding-left: 80px;
    }
    .hero-left h2{
        font-size: 20px;
    }
    .hero-left p{
        font-size: 50px;
    }
    .hero-latest-btn{
        width: 220px;
        height: 50px;
        font-size: 16px;
    }
    .hero-right img{
        width: 50%;
    }
}

@media(max-width:800px){
    .hero-left{
        padding-left: 30px;
    }
    .hero-left h2{
        font-size: 16px;
    }
    .hero-left p{
        font-size: 40px;
    }
    .hero-latest-btn{
        width: 175px;
        height: 40px;
        font-size: 13px;
    }
    .hero-right img{
        width: 50%;
    }
    .hero-latest-btn img{
        width: 30px;
    }
}

@media(max-width:500px){
    .hero{
        flex-direction: column;
    }
    .hero-right{
        display: none;
    }
    .hero-left h2{
        font-size: 18px;
    }
    .hero-left p{
        font-size: 50px;
    }
    .hero-latest-btn{
        width:200px;
        height: 45px;
        font-size: 14px;
    }
    .hero-right img{
        width: 50%;
    }
    .hero-latest-btn img{
        width: 30px;
    }
}