.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 90%;
    height: 42vh;    
}

.shopcategory-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    
}
.shopcategory-indexSort img{
    width: 15px;
}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}
.shopcategory-products p span{
   font-weight: 600; 

}
.shopcategory-products{
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    font-size: 30px;
    /* background: linear-gradient(180deg,  #fde1ff,  #e1ffea22 60% ); */
    background:#ede1ff ;
    padding-left: 50px;
    padding-top: 50px;
    
  
}

.shopcategory-products img{
    max-width: 100%;
    height: 75%;
}
.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}
@media(max-width:1280px){
    .shopcategory-banner{
        margin: 20px auto;
        width: 90%;
    }
    .shopcategory-indexSort{
        width: 90%;
        margin: auto;
    }
    .shopcategory-sort{
        padding: 5px 10px;
        font-size: 15px;
    }
    .shopcategory-indexSort p{
        font-size: 15px;

    }
    .shopcategory-products{
        width: 90%;
        margin: 10px auto;
        row-gap: 40px;
    }
    .shopcategory-products .item{
        font-size: 10px;
        
    }
    .shopcategory-loadmore{
        margin: 100px auto;
        width: 200px;
        height: 60px;
        font-size: 16px;
    }
}
@media(max-width:800px){
    .shopcategory-banner{
        width: 95%;
        height: 30vh;
    }
    .shopcategory-products{
        width: 95%;
        padding-top: 30px;
        padding-bottom: 20px;
        row-gap: 30px;
    }
    .shopcategory-loadmore{
        margin: 60px auto;
        width: 150px;
        height: 40px;
        font-size: 13px;
    }
}

@media(max-width:500px){
    .shopcategory-products{
        grid-template-columns: 1fr 1fr;
    }
}