.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    gap: 30px;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img{
    width: 400px;
    border-radius: 50%;
    border-color: #171717;
}

.nav-logo p{
    color: #171717;
    font-size: 60px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    font-size: 35px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background : #ff4141;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
    
}

.nav-login-cart img{
    max-width: 50%;
    height: auto;
}
.nav-login-cart button{
width: 250px;
height: 75px;
outline: none;
justify-content: center;
border: 1px solid #7a7a7a;
border-radius: 75px;
color: #515151;
font-size: 30px;
font-weight: 500;
background: white;
cursor: pointer;
}

.nav-login-cart button:active{
background: #f3f3f3;
}


.nav-cart-count{
width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
margin-top: -66px;
margin-left: -500px;
border-radius: 50%;
font-size: 30px;
background: red;
color: white;
}